import { SampleStyle } from './style.css';

type Props = {
    text: string;
};

const {{pascalCase componentName}}: React.FC<Props> = ({ text }) => {
    return <div className={SampleStyle}>{text}</div>;
};

export default {{pascalCase componentName}};
